.thumbartwork{
	display:block;
	float:left;
	height:300px;
	overflow:hidden;
	width:30%;
	opacity:0.5;
}
.thumbartwork:hover{
	opacity:1;
}
.thumbart{
	height:350px;
	margin-left:-50px;
}
.bigpainting{
	width:100%;
}
.container{
	width:100%;
}